{% extends 'base.html' %}
{% load static %}

{% block content %}
<div style="margin: 3em 2em; align-items: center;">
    
    <hr style="margin-top:3em;"/>
    <p class="title" style="color: #B96BC6; font-weight: bold;">CAREER</p>
    <hr/>
    <p class="basic">2015. 10. KTds 입사</p>
    <p class="basic">2016. 02. 미림 마이스터 고등학교 졸업</p>
    <p class="basic">2019. 03. 동국대학교 입학</p>
    <p class="basic">2019. 08. 프리랜서</p>
    
    <hr style="margin-top:3em;"/>
    <p class="title" style="color: #B96BC6; font-weight: bold;">LICENSE</p>
    <hr/>
    <p class="basic">OCJP (Oracle Java SE 6 programmer)</p>
    <p class="basic">IoT지식능력검정</p>
    <p class="basic">ITQ 정보기술자격 </p>
    <p class="basic">정보처리기능사</p>
    
    <hr style="margin-top:3em;"/>
    <p class="title" style="color: #B96BC6; font-weight: bold;">PROJECT</p>
    <hr/>
    <ul>
        <li>
            <p>[2020년 하반기] 비대면 스터디 어플리케이션 개발 프로젝트</p>
            <p class="basic">- 동국대학교 창의적 공학 설계 과목</p>
            <p class="basic">- Kotlin, Firebase 활용</p>
            <p class="basic">- https://github.com/wonny7447/untactstudy.git</p>
        </li>
        <li>
            <p>[2021년 상반기] Bythebook 쇼핑몰 사이트 개발 프로젝트</p>
            <p class="basic">- 반응형 웹사이트 개발, 기획, 디자인</p>
            <p class="basic">- Django, Postgresql, Ubuntu 서버 활용</p>
            <p class="basic">- https://github.com/wonny7447/bythebook2.git</p>
        </li>
    </ul>
</div>







{% endblock %}