{% extends 'base.html' %}
{% load static %}

{% block content %}
<style>
    div {
        float: left;
    }
</style>
<div style="margin: 5em 5em;">
    <div style="text-align: center; width: 30%; font-size: 0.9em; line-height: 3em; margin-top: 5em;">
        Hello :) My name is jiwon. <br/>
        I quit my job and entered the university.<br/>
        I like traveling, food, and alcohol. 🍻🍻<br/>
    </div>
    <div style="text-align: center; width: 40%;">
        <img src="{% static 'images/1.png' %}" style="width:70%; border-radius: 3em;"> 
    </div>
    <div style="text-align: center; width: 30%; font-size: 0.9em; line-height: 3em; margin-top: 3em;">
        안녕하세요! 백지원입니다 <br/>
        퇴사 후 동국대에 입학했고<br/>
        융합보안학과에서 컴공을 복전중이에요!<br/>
        여행과 음식을 좋아하고 술도 좋아해요 🍻🍻<br/>
        멋사에서 많은 걸 얻어가고 싶어요!
    </div>
</div>

{% endblock %}