{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div>

        <table class="table table-striped" style="width: 80%; margin-top: 5em; margin-left: 5em;">
            <thead>
                <tr>
                    <td>번호</td>
                    <td>제목(내용)</td>
                    <td>작성자</td>
                </tr>
            </thead>
            <tbody>
                {% for each_qna in qna %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url 'detail' each_qna.id %}">{{ each_qna.title }} ({{ each_qna.summary }}...)</a></td>
                    <td>{{ each_qna.writer }}</td>
                </tr>
	            {%endfor%}
            </tbody>
        </table>
        <a href="{% url 'new' %}" style="margin: 1em 5em;">글쓰기</a>
    </div>


{% endblock %}