{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h1>
        {% if 'user' in user.username and user.username != 'user' %}
            {{ user.last_name }}{{ user.first_name }}
        {% else %}
            {{ user.username }}
        {% endif %}
    </h1>
    <h1>
        {% if request.user != user %}<!--다른 사람의 프로필에 들어온 경우에만 팔로우/언팔로우 버튼이보임-->
            {% if request.user.profile in user.profile.followers.all %}
                <a href="{%url 'users:follow' user.id %}">
                    <button type="button" class="btn btn-outline-info">언팔로우</button>
                </a>
            {% else %}
                <a href="{%url 'users:follow' user.id %}">
                    <button type="button" class="btn btn-info">팔로우</button>
                </a>
            {% endif %}
        {% endif %}
    </h1>
    <div class="container">
        <h3>팔로워{{user.profile.followers.count}}명</h3>
        {%for follower in user.profile.followers.all %}
            <a href="{% url 'users:mypage' follower.user.id %}">{{follower.user.username}}</a>
        {% endfor %}
        <h3>팔로잉{{user.profile.followings.count}}명</h3>
        {% for following in user.profile.followings.all %}
            <a href="{%url 'users:mypage' following.user.id%}">{{following.user.username}}</a>
        {% endfor %}
    </div>
</div>

<div>
    {% if user.is_authenticated %}
    <table class="table table-striped" style="width: 80%; margin-top: 5em; margin-left: 5em;">
        <thead>
            <tr>
                <td>번호</td>
                <td>제목(내용)</td>
                <td>작성자</td>
            </tr>
        </thead>
        <tbody>
            {% for each_qna in qna %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'main:detail' each_qna.id %}">{{ each_qna.title }} ({{ each_qna.summary }}...)</a></td>
                <td>{{ each_qna.writer }}</td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    <a href="{% url 'main:new' %}" style="margin: 1em 5em;">글쓰기 {{ user.username }}만 가능</a>
    {% else %}
    <h4>로그인 후 이용 가능</h4>
    <a href="{% url 'account_login' %}">로그인</a>
    <a href="{% url 'account_signup' %}">회원가입</a>
    {% endif %}
</div>


{% endblock %}